@font-face 
{
  font-family: "TAN-PARADISO";
  src:
    url("font/TAN-PARADISO.ttf") format("woff2"),
    url("font/TAN-PARADISO.ttf")  format("woff");
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
}
  
  
  body 
  {
    background-color: rgb(209, 221, 234);
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-weight: 450;
      font-style: normal;
      font-size: 20px;
      text-align: center;
    }


 h1
  {
font-family: "TAN-PARADISO", Courier, monospace;
}

h2
{
font-family: "TAN-PARADISO", Courier, monospace;
}

h3
{
font-family: "TAN-PARADISO", Courier, monospace;
}



    a:link 
{
  color: rgb(0, 0, 0);
  text-decoration: none;
}


a:hover 
{
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

a:active 
{
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

a:visited 
{
  color: rgb(0, 0, 0);
  text-decoration: none;
}

img 
{
  width: 100%;
}

video 
{
  width: 100%;
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 200px) 
{
  body 
  {
    /*background-color: red;*/
    font-size: small;
  }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
  body 
  {
    /*background-color: green;*/
    font-size: larger;
  }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
  body 
  {
    /*background-color: blue;*/
    font-size: xx-large;
  }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{
  body 
  {
    /*background-color: white;*/
  }
}