@font-face 
{
  /*fonte para os títulos*/
  font-family: "TAN-PARADISO";
  src:
    url("font/TAN-PARADISO.ttf") format("woff2"),
    url("font/TAN-PARADISO.ttf") format("woff");
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
}
  
  /*fonte para a base do site*/
  body 
  {
    background-color: rgb(209, 221, 234);
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-weight: 450;
      font-style: normal;
      font-size: 20px;
      text-align: center;
      color: rgb(255, 255, 255);

      

    /*cor de fundo do site, fonte escolhida para os textos, tamanhos e alinhamento*/
    }

      
/*fonte para estes tamanhos de letra*/
 h1
  {
font-family: "TAN-PARADISO", Courier, monospace;
}

h2
{
font-family: "TAN-PARADISO", Courier, monospace;
}

h3
{
font-family: "TAN-PARADISO", Courier, monospace;
}



div.scroll-container {
  background-color: #33333300;
  overflow: auto;
  white-space: nowrap;
  padding: 50px;
}

div.scroll-container img {
  padding: 0px;
}




/*cores e sublinhado dos títulos da barra de navegação e do header*/
    a:link 
{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:hover 
{
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

a:active 
{
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

a:visited 
{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/*tamanho do vídeo*/
div>video
{
  width: 25%;
  height: 25%;
  padding-bottom: 2px;
}

/*tamanho da imagem*/
img 
{
  width: 100%;
}
/*tamanho do video*/
video 
{
  width: 100%;
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 200px) 
{
  body 
  {
    /*background-color: red;*/
    font-size: small;
  }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
  body 
  {
    /*background-color: green;*/
    font-size: larger;
  }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
  body 
  {
    /*background-color: blue;*/
    font-size: xx-large;
  }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{
  body 
  {
    /*background-color: white;*/
    font-size: xx-large;
  }
}