@font-face 
{
  font-family: "FontName";
  src:
    url("linkToTheFontFolder/File.woff2") format("woff2"),
    url("linkToTheFontFolder/File.woff")  format("woff");
}
  
  
  body 
  {
    font-family: "FontName", Courier, monospace;
  }